<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>freee課題</title>
  </head>
  <body>
    <!-- Clock section start -->

    <section class="time">
      <div class="clock">
        <div class="hand hour" data-hour-hand></div>
        <div class="hand minute" data-minute-hand></div>
        <div class="hand second" data-second-hand></div>
        <div class="number number1">Ⅰ</div>
        <div class="number number2">Ⅱ</div>
        <div class="number number3">Ⅲ</div>
        <div class="number number4">Ⅳ</div>
        <div class="number number5">Ⅴ</div>
        <div class="number number6">Ⅵ</div>
        <div class="number number7">Ⅶ</div>
        <div class="number number8">Ⅷ</div>
        <div class="number number9">Ⅸ</div>
        <div class="number number10">Ⅹ</div>
        <div class="number number11">Ⅺ</div>
        <div class="number number12">Ⅻ</div>
      </div>
    </section>
    <div class="digital">
      <span class="hours">23</span> : <span class="minutes">59</span> :
      <span class="seconds">59</span>
    </div>
    <!-- Clock section end -->

    {% block content %} {% endblock %}
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='script.js') }}"
  ></script>
</html>
