<header>
  <a href="/home/{{ username }}">ホーム</a>
  <a href="/game/{{ username }}">息抜き</a>
  <a href="/memo/{{ username }}">Todo管理</a>
  <a href="/history/{{ username }}">カレンダー</a>
  <a href="/board/{{ username }}">掲示板</a>
  <a href="/edit/{{ username }}">出退勤管理</a>
  <a href=""
    ><form action="/finish/{{ username }}" method="POST">
      <input type="submit" value="退勤" class="btn" />
    </form>
  </a>
</header>

{% extends "base.html" %} {% block content %}
<!--  -->

<h1>チャット to {{ userto }}</h1>

{% if message|length < 1 %}
<h2 style="text-align: center">
  {{ userto }}さんにメッセージを送ってみましょう。
</h2>
{% else %} {% for msg in message %}

<div class="chat">
  <p style="padding: 1rem">{{ msg.userfrom }} : {{ msg.memo }}</p>
</div>

{% endfor %} {% endif %}
<form action="/chat_write/{{ username }}/{{ userto }}" method="POST">
  <input type="text" name="chat" class="form-text" />
  <input type="submit" value="送信" class="btn" />
</form>

{% endblock %}
