<header>
  <a href="/home/{{ username }}">ホーム</a>
  <a href="/game">息抜き</a>
  <a href="/memo/{{ username }}">Todo管理</a>
  <a href="/history/{{ username }}">カレンダー</a>
  <a href=""
    ><form action="/finish/{{ username }}" method="POST">
      <input type="submit" value="退勤" class="btn" />
    </form>
  </a>
</header>

{% extends "base.html" %} {% block content %}

<h1>息抜きをすることはとても大切なことです</h1>
<p>Youtubeで癒される動画をみますか？</p>
<a href="https://www.youtube.com/" style="color: crimson">Youtube：⇐ click</a>
<p>簡単なゲームで脳をリフレッシュしますか？</p>
<a href="counter" style="color: crimson">カウンター：⇐ click</a>
<a href="sudoku" style="color: crimson">A Number：⇐ click</a>

<!-- Taikinn section end -->

{% endblock %}
