<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='history.css') }}"
    />
  </head>
  <body>
    <header>
      <!-- <a href="/home">ホーム</a> -->
      <a href="/home/{{ username }}">ホーム</a>
      <a href="/game/{{ username }}">息抜き</a>
      <a href="/memo/{{ username }}">Todo管理</a>
      <a href="/history/{{ username }}">カレンダー</a>
      <a href="/edit/{{ username }}">出退勤管理</a>
      <a href=""
        ><form action="/finish/{{ username }}" method="POST">
          <input type="submit" value="退勤" class="btn" />
        </form>
      </a>
    </header>
    <!-- Calendar section start -->

    <div id="calendar" class="calendar">
      <script>
              let calendarEl = document.getElementById('calendar');
        // 下のエラーは無視しても機能したため、そのままにしてあります。
              let calendar = new FullCalendar.Calendar(calendarEl, {
                  events:
                  [
                    {% for event in events %}


                    {
                      title: '{{ event.title }}',
                      start: '{{ event.date }}',
                      color: '{{ event.color }}',

                    },
                    {% endfor %}
                  ]
              });

              calendar.render();
      </script>
    </div>
    <!-- Calendar section end -->
  </body>
</html>
