{% extends "base.html" %} {% block content %}

<!-- Message section start -->

{% if st_h >= 11 and st_m >= 0 %}
<p>{{ username }}さん、遅刻ですよ・・・</p>
{% else %}
<p>{{ username }}さん、今日も頑張りましょう！</p>
{% endif %} {% for user in users %} {% endfor %}
<!-- Message section end -->
<!-- Note section start -->
<!-- <p>{{ aaa }}</p> -->

{% for b1 in bbb %}
<!-- <p>{{ b1.starth }}:{{ b1.startm }}</p> -->
{% endfor %}
<!--  -->
{% for b2 in check %}
<p>{{ b2.starth }}:{{ b2.startm }}</p>
{% endfor %}

<p>今日のTodoリストです</p>
{% for task in tasks %}
<ul>
  <li>{{ task.memo }}</li>
</ul>
{% endfor %}

<form action="/memo" method="POST">
  <input type="submit" value="管理" class="btn" />
</form>

<!-- Note section end -->

<!-- Taikinn section start -->

<p>退勤時には下のボタンを押してください</p>

<form action="/finish" method="POST">
  <input type="submit" value="退勤" class="btn" />
</form>

<!-- Taikinn section end -->

<!-- Calendar section start -->

<a href="/history" class="link">カレンダー</a>

<!-- Calendar section end -->

{% endblock %}
