<header>
  <a href="/home/{{ username }}">ホーム</a>
  <a href="/game/{{ username }}">息抜き</a>
  <a href="/memo/{{ username }}">Todo管理</a>
  <a href="/history/{{ username }}">カレンダー</a>
  <a href="/board/{{ username }}">掲示板</a>
  <a href="/edit/{{ username }}">出退勤管理</a>
  <a href=""
    ><form action="/finish/{{ username }}" method="POST">
      <input type="submit" value="退勤" class="btn" />
    </form>
  </a>
</header>

{% extends "base.html" %} {% block content %} {% if username == "Admin" %} {% if
users|length < 1 %}
<h2 style="text-align: center">No Data</h2>
{% else %}
<p style="padding-top: 3rem">フィルター</p>
<form action="/home/Admin" method="POST">
  <input
    type="text"
    name="filtername"
    class="form-text"
    placeholder="username or all"
  />
  <input type="submit" value="決定" class="btn" />
</form>

<table class="table">
  <tr>
    <th class="info-item">名前</th>
    <th class="info-item">日付</th>
    <th class="info-item">出勤</th>
    <th class="info-item">退勤</th>
  </tr>
  {% for user in users %} {% if user.absence == True %}

  <tr>
    <td class="info-body">{{ user.user }}</td>
    <td class="info-body">{{ user.day }}</td>
    <td class="info-body" style="color: crimson">欠勤</td>
    <td class="info-body"></td>
  </tr>

  {% else %}

  <tr>
    <td class="info-body">{{ user.user }}</td>
    <td class="info-body">{{ user.day }}</td>
    <td class="info-body">{{ user.starth }}:{{ user.startm }}</td>
    {% if user.endh == "23" and user.endm == "59" %}
    <td class="info-body" style="color: crimson">
      退勤ボタンが押されていません。
    </td>
    {% else %}
    <td class="info-body">{{ user.endh }}:{{ user.endm }}</td>
    {% endif %}
  </tr>

  {% endif %} {% endfor %}
</table>
{% endif %} {% else %}

<!-- Message section start -->
{% if msg != "" %}
<p>{{ msg }}</p>
{% elif st_h >= 11 and st_m >= 0 %}
<p>{{ username }}さん、遅刻ですよ・・・</p>
{% else %}
<p>{{ username }}さん、今日も頑張りましょう！</p>
{% endif %} {% for user in users %} {% endfor %}
<!-- Message section end -->

<!-- Note section start -->
<div class="todolist">
  <p>今日のTodoリストです</p>

  {% if tasks|length < 1 %}
  <h2 style="text-align: center">タスクはありません</h2>
  {% else %} {% for task in tasks %}
  <ul>
    <li>{{ task.memo }}</li>
  </ul>
  {% endfor %} {% endif %}
</div>

<form action="/memo/{{ username }}" method="POST">
  <input type="submit" value="管理" class="btn" />
</form>
<a href="/" style="color: transparent"> - </a>

<!-- Note section end -->

<!-- Taikinn section start -->

<p>※退勤時には画面上部のボタンを押してください</p>

<!-- Taikinn section end -->
{% endif %}
<a href="/" style="color: transparent"> - </a>

{% endblock %}
