{% extends 'base.html' %} {% block content %}
<div class="content">
  <h1>Todoリスト</h1>

  {% if tasks|length < 1 %}
  <h2 style="text-align: center">タスクはありません</h2>
  {% else %}

  <table class="table">
    <tr>
      <th class="todo-item">タスク</th>
      <th class="todo-item">登録</th>
      <th class="todo-item">削除</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td class="todo-body">{{ task.memo }}</td>
      <td class="todo-body">{{ task.date_created.date() }}</td>
      <td class="todo-body">
        <a href="/delete/{{task.id}}" class="todo-action">削除</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <form action="/add" method="post">
    <input type="text" name="content" class="form-text" />
    <input type="submit" value="新規追加" class="btn" />
  </form>
</div>
{% endblock %}
