<header>
  <a href="/home/{{ username }}">ホーム</a>
  <a href="/game/{{ username }}">息抜き</a>
  <a href="/memo/{{ username }}">Todo管理</a>
  <a href="/history/{{ username }}">カレンダー</a>
  <a href="/board/{{ username }}">掲示板</a>
  <a href="/edit/{{ username }}">出退勤管理</a>
  <a href=""
    ><form action="/finish/{{ username }}" method="POST">
      <input type="submit" value="退勤" class="btn" />
    </form>
  </a>
</header>

{% extends 'base.html' %} {% block content %}

<!-- Todo section start -->

<div class="content">
  <h1>Todoリスト</h1>

  {% if tasks|length < 1 %}
  <h2 style="text-align: center">タスクはありません</h2>
  {% else %}

  <table class="table">
    <tr>
      <th class="todo-item">タスク</th>
      <th class="todo-item">登録</th>
      <th class="todo-item">削除</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td class="todo-body">{{ task.memo }}</td>
      <td class="todo-body">{{ task.date_created.date() }}</td>
      <td class="todo-body">
        <a href="/delete/{{ username }}/{{ task.id }}">×</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <form action="/add/{{ username }}" method="post" class="form-content">
    <input type="text" name="content" class="form-text" />
    <input type="submit" value="新規追加" class="btn" />
  </form>
</div>

<!-- Todo section end -->

{% endblock %}
