<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>freee課題</title>
  </head>
  <body>
    <h1>お大事に</h1>

    <h2>{{ day }}</h2>

    <!-- <p>メールアドレスを入力してください</p> -->

    <form action="/message" method="POST">
      <label for="name">メールアドレス：</label>
      <input type="text" name="sender" />

      <label for="name">本文：</label>
      <input type="text" name="text" />
      <input type="submit" value="送信" class="btn" />
    </form>
  </body>
</html>
