<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='sudoku.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>A Number</title>
  </head>
  <body>
    <header><h1>A Number</h1></header>
    <div class="explain">
      <p>指定された1マスを論理とひらめきで導き出せ！</p>
      <br />

      <ul>
        【難易度】
        <li>初心者向けの初級</li>
        <li>候補を考えることで解ける中級</li>
        <li>候補をより細かく分析して解ける上級</li>
      </ul>
      <br />
      <a
        href="https://play.google.com/store/apps/details?id=com.sudoku.anumber"
        style="color: crimson"
        >ダウンロードはこちら：Google Playストアが開きます</a
      >
    </div>

    <section class="tabs">
      <div class="container">
        <div id="tab-1" class="tab-item tab-border">
          <div class="hide-sm">初級</div>
        </div>
        <div id="tab-2" class="tab-item">
          <div class="hide-sm">中級</div>
        </div>
        <div id="tab-3" class="tab-item">
          <div class="hide-sm">上級</div>
        </div>
      </div>
    </section>

    <section class="tab-content">
      <div class="container">
        <!-- Tab Content 1 -->
        <div id="tab-1-content" class="tab-content-item show">
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/elementary1.jpg" alt="" />
            </div>
          </div>

          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/elementary2.jpg" alt="" />
            </div>
          </div>
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/elementary3.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- Tab Content 2 -->
        <div id="tab-2-content" class="tab-content-item">
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/intermediate1.jpg" alt="" />
            </div>
          </div>
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/intermediate2.jpg" alt="" />
            </div>
          </div>
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static/images/intermediate3.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- Tab Content 3 -->
        <div id="tab-3-content" class="tab-content-item">
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static//images/hard1.jpg" alt="" />
            </div>
          </div>
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static//images/hard2.jpg" alt="" />
            </div>
          </div>
          <div class="tab-content-inner">
            <div class="content">
              <img src="../static//images/hard3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      const tabItems = document.querySelectorAll(".tab-item");
      const tabContentItems = document.querySelectorAll(".tab-content-item");

      // Select tab content item
      function selectItem(e) {
        // Remove all show and border classes
        removeBorder();
        removeShow();
        // Add border to current tab item
        this.classList.add("tab-border");
        // Grab content item from DOM
        const tabContentItem = document.querySelector(`#${this.id}-content`);
        // Add show class
        tabContentItem.classList.add("show");
      }

      // Remove bottom borders from all tab items
      function removeBorder() {
        tabItems.forEach((item) => {
          item.classList.remove("tab-border");
        });
      }

      // Remove show class from all content items
      function removeShow() {
        tabContentItems.forEach((item) => {
          item.classList.remove("show");
        });
      }

      // Listen for tab item click
      tabItems.forEach((item) => {
        item.addEventListener("click", selectItem);
      });
    </script>
  </body>
</html>
