<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='visualize.css') }}"
    />
    <!-- swiper css link  -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <title>visualize memo.txt</title>
  </head>
  <body>
    <h1 class="header">4/15 説明会</h1>
    <main>
      <div class="container">
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.アプリの構成を考える
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>

            <p class="read-more-text">
              <br />
              ReactかPythonで書くことに決める。<br />まずはReactの勉強からスタート。
            </p>
            <p class="read-more-btn">コメントを見る</p>
          </div>
          <div class="date">4/17</div>
        </div>

        <div class="memo right">
          <div class="date">4/18,19</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.React tutorial</p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
            <p class="read-more-text">
              <br />
              2日頑張ってみたが時間の制約とJavaScriptの難易度から断念。
              <br />Pythonにシフトし、Flaskの勉強を開始。
            </p>
            <p class="read-more-btn">コメントを見る</p>
          </div>
        </div>

        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.Flask Tutorial</p>
            <p class="read-more-text">
              <br />
              Youtube動画とFlask Documentで勉強
            </p>
            <p class="read-more-btn">コメントを見る</p>
          </div>
          <div class="date">4/20,21</div>
        </div>
        <div class="memo right">
          <div class="date">4/22</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.開発スタート</p>
            <p data-aos="fade-left" data-aos-delay="300">
              2.Githubのrepositoryを作る
            </p>
            <p class="read-more-text">
              <br />
              出退勤ボタンと労働時間の計算ができた。
              <br />データベースの不具合との格闘スタート。<br />Githubでの管理スタート。
            </p>
            <p class="read-more-btn">コメントを見る</p>
          </div>
        </div>

        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.データベース不具合修正
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.デザイン改善</p>
            <p class="read-more-text">
              <br />
              IntegrityErrorとその解決。
              <br />欠勤の追加とメール送信機能(未解決)。<br />メッセージを場合分け。
            </p>
            <p class="read-more-btn">コメントを見る</p>
          </div>
          <div class="date">4/23</div>
        </div>
        <div class="memo right">
          <div class="date">4/18,19</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.React tutorial</p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.実際に開発スタート
            </p>
            <p data-aos="fade-left" data-aos-delay="300">
              2.Githubのrepositoryを作る
            </p>
          </div>
          <div class="date">4/20,21</div>
        </div>
        <div class="memo right">
          <div class="date">4/22</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.データベース不具合修正
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.デザイン改善</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.アプリの構成を考える
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
          <div class="date">4/17</div>
        </div>
        <div class="memo right">
          <div class="date">4/18,19</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.React tutorial</p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.実際に開発スタート
            </p>
            <p data-aos="fade-left" data-aos-delay="300">
              2.Githubのrepositoryを作る
            </p>
          </div>
          <div class="date">4/20,21</div>
        </div>
        <div class="memo right">
          <div class="date">4/22</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.データベース不具合修正
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.デザイン改善</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.アプリの構成を考える
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
          <div class="date">4/17</div>
        </div>
        <div class="memo right">
          <div class="date">4/18,19</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.React tutorial</p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.実際に開発スタート
            </p>
            <p data-aos="fade-left" data-aos-delay="300">
              2.Githubのrepositoryを作る
            </p>
          </div>
          <div class="date">4/20,21</div>
        </div>
        <div class="memo right">
          <div class="date">4/22</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.データベース不具合修正
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.デザイン改善</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.アプリの構成を考える
            </p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
          <div class="date">4/17</div>
        </div>
        <div class="memo right">
          <div class="date">4/18,19</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">1.React tutorial</p>
            <p data-aos="fade-left" data-aos-delay="300">2.Gitの勉強</p>
          </div>
        </div>
        <div class="memo left">
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.実際に開発スタート
            </p>
            <p data-aos="fade-left" data-aos-delay="300">
              2.Githubのrepositoryを作る
            </p>
          </div>
          <div class="date">4/20,21</div>
        </div>
        <div class="memo right">
          <div class="date">4/22</div>
          <div class="content">
            <p data-aos="fade-left" data-aos-delay="150">
              1.データベース不具合修正
            </p>
            <p data-aos="fade-left" data-aos-delay="150">2.デザイン改善</p>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>
      AOS.init({
        duration: 800,
        offset: 150,
      });
    </script>
    <script>
      const parentContainer = document.querySelector("main");

      parentContainer.addEventListener("click", (event) => {
        const current = event.target;

        const isReadMoreBtn = current.className.includes("read-more-btn");

        if (!isReadMoreBtn) return;

        const currentText =
          event.target.parentNode.querySelector(".read-more-text");

        currentText.classList.toggle("read-more-text--show");

        current.textContent = current.textContent.includes("閉じる")
          ? "コメントを見る"
          : "閉じる";
      });
    </script>
  </body>
</html>
