* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* display: flex; */
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: rgba(245, 245, 245);
  max-width: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../static/background.jpg) no-repeat;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url(../static/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.calendar {
  margin: 3rem;
}

header {
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  padding: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  height: 10vh;
}
header a {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

header a:hover {
  color: rgba(220, 20, 60, 0.811);
}

.btn {
  padding: 5px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 0%;
  border: 1px solid white;
}

.btn:hover {
  transform: scale(1.03);
  background-color: rgba(155, 155, 155, 0.1);
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .calendar {
    font-size: 0.2rem;
  }
}
