* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* display: flex; */
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: rgba(245, 245, 245);
  max-width: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../static/background.jpg) no-repeat;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url(../static/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.calendar {
  margin: 3rem;
}

header {
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header a {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
