* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../static/background.jpg) no-repeat;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url(../static/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 2.5rem;
  border-bottom: 1px solid black;
}

.explain {
  font-size: 1.5rem;
  text-align: left;
  margin: 5rem;
}

.hide-sm {
  font-size: 2rem;
  padding: 1rem;
}

.tabs {
  padding-top: 1rem;
  border-bottom: 3px solid #606060;
  border-right: none;
  cursor: pointer;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab-border {
  border-bottom: 3px solid white;
}

.tab-content {
  padding: 3rem 0;
  color: #fff;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

#tab-1-content .tab-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tab-2-content .tab-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tab-3-content .tab-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.content img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.208);
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
}

.content p {
  color: white;
  text-align: center;
  font-size: 3rem;
}
